{% extends 'FrontBundle:Default:index.html.twig' %}

{% block content %}
    <!-- grow -->
    <div class="grow">
        <div class="container">
            <h2>Tìm kiếm theo từ khóa "{{ keyword }}"</h2>
        </div>
    </div>
    <!-- grow -->
    <div class="pro-du">
        <div class="container">
            <div class="col-md-9 product1">
                <div class=" bottom-product">
                    {% if pagination.getTotalItemCount > 0 %}
                        {% for row in pagination %}
                            <div class="col-md-6 bottom-cd simpleCart_shelfItem">
                                <div class="product-at ">
                                    <a href="{{ path('product_detail', {slug: row.slug}) }}"><img class="img-responsive" src="{{ row.imagePath|getImage(webPath) }}" alt="">
                                        <div class="pro-grid">
                                            <span class="buy-in">Buy Now</span>
                                        </div>
                                    </a>
                                </div>
                                <p class="tun"><span>{{ row.description|truncate(20) }}</span><br>{{ row.name }}</p>
                                <div class="ca-rt">
                                    <a href="#" class="item_add"><p class="number item_price"><i> </i>{{ serviceHelper.getProductPrice(row) }}</p></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                        <div class="clearfix"> </div>

                        {# display navigation #}
                        <div class="navigation text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% else %}
                        <span>Không có kết quả</span>
                    {% endif %}
                </div>


            </div>
            <div class="col-md-3 prod-rgt">

                {% render(controller('FrontBundle:Default:products')) %}

                <div class="pr-btm">
                    <h4>Khách hàng nói gì về chúng tôi?</h4>
                    <img class="img-responsive" src="/bundles/front/images/pi.jpg" alt="">
                    <h6>Huyền</h6>
                    <p>Sản phẩm chất lượng, giá cả hợp lý, tôi rất thích!</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}